html {
	font-family:sans-serif;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%
}
body {
	margin:0
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
	display:block
}
audio,canvas,progress,video {
	display:inline-block;
	vertical-align:baseline
}
audio:not([controls]) {
	display:none;
	height:0
}
[hidden],template {
	display:none
}
a {
	background:transparent
}
a:active,a:hover {
	outline:0
}
abbr[title] {
	border-bottom:1px dotted
}
b,strong {
	font-weight:bold
}
dfn {
	font-style:italic
}
h1 {
	font-size:2em;
	margin:0.67em 0
}
mark {
	background:#ff0;
	color:#000
}
small {
	font-size:80%
}
sub,sup {
	font-size:75%;
	line-height:0;
	position:relative;
	vertical-align:baseline
}
sup {
	top:-0.5em
}
sub {
	bottom:-0.25em
}
img {
	border:0
}
svg:not(:root) {
	overflow:hidden
}
hr {
	-moz-box-sizing:content-box;
	box-sizing:content-box;
	height:0
}
pre {
	overflow:auto
}
code,kbd,pre,samp {
	font-family:monospace,monospace;
	font-size:1em
}
button,input,optgroup,select,textarea {
	color:inherit;
	font:inherit;
	margin:0
}
button {
	overflow:visible
}
button,select {
	text-transform:none
}
button,html input[type="button"],input[type="reset"],input[type="submit"] {
	-webkit-appearance:button;
	cursor:pointer
}
button[disabled],html input[disabled] {
	cursor:default
}
button::-moz-focus-inner,input::-moz-focus-inner {
	border:0;
	padding:0
}
input {
	line-height:normal
}
input[type="checkbox"],input[type="radio"] {
	box-sizing:border-box;
	padding:0
}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {
	height:auto
}
input[type="search"] {
	-webkit-appearance:textfield;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	box-sizing:content-box
}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
	-webkit-appearance:none
}
fieldset {
	border:1px solid #c0c0c0;
	margin:0 2px;
	padding:0.35em 0.625em 0.75em
}
legend {
	border:0;
	padding:0
}
textarea {
	overflow:auto
}
optgroup {
	font-weight:bold
}
table {
	border-collapse:collapse;
	border-spacing:0
}
td,th {
	padding:0
}
.site-wrapper,.off-canvas {
	transition:all .3s ease
}
.h-wrap,.menu-icon,.off-canvas,footer {
	padding:2em
}
* {
	margin:0;
	padding:0;
	box-sizing:border-box
}
*::after,*::before {
	box-sizing:border-box
}
html {
	width:100%;
	height:100%
}
body {
	font:1.25em "Open Sans",sans-serif;
	color:#333;
	text-rendering:optimizeLegibility;
	-webkit-font-smoothing:antialiased;
	background-color:#fff
}
@media (max-width:942px) {
	body {
		font-size:1.125em;
	}
}
@media (max-width:642px) {
	body {
		font-size:0.875em;
	}
}
h1,h2,h3,.h-wrap h1.title,.off-canvas .bio h1,h4,h5,h6,h5,h6 {
	font-family:'Open Sans',sans-serif;
}
h1 {
	font-size:250%;
	margin:0.5em 0;
}
h2 {
	font-size:180%;
	font-style:italic;
	margin:1em 0 0.5em;
}
h3,.h-wrap h1.title,.off-canvas .bio h1 {
	font-size:150%;
	font-weight:lighter;
	margin:1.5em 0 0.5em
}
h4,h5,h6 {
	font-size:80%;
	font-weight:bold;
	text-transform:uppercase;
	letter-spacing:3px;
	margin:3.5em 0 0.5em;
	color:#999;
}
h5 {
	text-align:center;
}
h6 {
	text-align:right
}
p {
	margin:1.3em 0;
	line-height:1.6;
}
small {
	font-size:60%;
}
ul li {
	list-style-type:circle;
}
ol li {
	list-style-type:decimal;
}
a {
	color:#7b68ee;
}
a:hover {
	color:#333;
}
@font-face {
	font-family:'icomoon';
	src:url("../assets/fonts/icomoon.eot");
	src:url("../assets/fonts/icomoon.eot?#iefix") format("embedded-opentype"),url("../assets/fonts/icomoon.woff") format("woff"),url("../assets/fonts/icomoon.ttf") format("truetype"),url("../assets/fonts/icomoon.svg#icomoon") format("svg");
	font-weight:normal;
	font-style:normal;
}
.highlight {
	border:1px solid #e0e1e6;
	border-radius:3px;
	padding:1em 1em;
	background-color:#000;
	font-size:80%;
	margin:2em auto;
	overflow:scroll;
	color:gray;
}
code {
	font-family:'Courier',monospace;
	font-size:100%;
	line-height:1.5;
}
header {
	width:100%;
	background:white
}
.h-wrap h1.title {
	display:inline-block;
	margin:0;
	padding:0;
	font-weight:normal
}
.h-wrap h1.title a {
	color:#333;
	text-decoration:none
}
.h-wrap h1.title a:hover {
	color:#7b68ee
}
.h-wrap .close .lines {
	-webkit-transition:background .3s 0s ease;
	transition:background .3s 0s ease;
	background:transparent
}
.h-wrap .close .lines::before,.h-wrap .close .lines::after {
	top:0;
	width:30px;
	-webkit-transition:top .3s ease,transform .3s .5s ease;
	transition:top .3s ease,transform .3s .5s ease
}
.h-wrap .close .lines::before {
	transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	margin:0
}
.h-wrap .close .lines::after {
	transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
	margin:0
}
.menu-icon { 
	top:0;
	right:0;
	cursor:pointer;
	z-index:200
}
.menu-icon:hover {
	opacity:1
}
.menu-icon .lines {
	display:inline-block;
	position:relative;
	width:25px;
	height:2px;
	background:#333;
	border-radius:20px
}
.menu-icon .lines::before,.menu-icon .lines::after {
	content:'';
	display:inline-block;
	position:absolute;
	left:0;
	width:25px;
	height:2px;
	background:#333;
	border-radius:20px;
	transition:all .3s ease;
	-webkit-transition:all .3s ease
}
.menu-icon .lines::before {
	top:8px
}
.menu-icon .lines::after {
	top:-8px
}
.menu-icon .lines.toggled {
	background:transparent
}
.menu-icon .lines.toggled::before {
	top:0;
	transform:rotate(45deg);
	-webkit-transform:rotate(45deg)
}
.menu-icon .lines.toggled::after {
	top:0;
	transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg)
}
.site-wrapper {
	position:absolute;
	top:0;
	right:0;
	width:100%
}
.site-wrapper.open .menu-icon {
	position:fixed
}

footer {
	width:100%;
	bottom:0;
	left:0;
	text-align:center;
}
footer small {
	text-transform:uppercase
}
.single-wrap {
	width:100%;
	max-width:740px;
	margin:1em auto;
	font-family:"Lora",Georgia,serif;
	background:#000;
	z-index:1
}
.single-wrap .single-content {
	padding:0 2em
}
@media (max-width:642px) {
	.single-wrap .single-content {
		padding-bottom:3.5em
	}
}
.single-wrap .feat {
	text-align:center;
	border-bottom:1px dotted #e0e1e6;
	margin:0 auto 3.5em
}
.single-wrap .feat a.popup {
	display:inline-block;
	position:relative;
	top:.7em;
	background:#000;
	font-size:130%;
	text-align:center;
	text-decoration:none;
	padding:0 1em;
	transition:all .2s ease;
	-webkit-transition:all .2s ease
}
@media (max-width:642px) {
	.single-wrap .feat a.popup {
		font-size:150%
	}
}
.single-wrap .page-date {
	display:inline-block;
	position:relative;
	top:1.1em;
	background:#000;
	font-family:"Lora",Georgia,serif;
	font-size:85%;
	text-align:center;
	font-weight:normal;
	font-style:italic;
	padding:0 1em;
	text-transform:none;
	letter-spacing:1px
}
.single-wrap .share {
	margin:3.5em auto
}
.single-wrap h1.page-title {
	font-size:180%;
	line-height:135%;
	font-family:"Open Sans",sans-serif;
	text-align:center;
	margin:0 0 2em
}
.single-wrap ul,.single-wrap ol {
	margin:2em 0
}
.single-wrap ul li,.single-wrap ol li {
	margin-bottom:0.5em
}
.single-wrap blockquote {
	font-size:150%;
	font-family:"Open Sans",sans-serif;
	font-weight:lighter;
	color:#999;
	border-left:4px solid #7b68ee;
	padding-left:1em;
	margin-top:2em;
	margin-bottom:2em;
	margin-left:-3.5em;
	margin-right:0;
	line-height:165%
}
@media (max-width:942px) {
	.single-wrap blockquote {
		margin-left:0
	}
}
.single-wrap blockquote p {
	padding-left:0 !important;
	padding-right:0 !important
}
.single-wrap img {
	width:100%;
	height:100%
}



.posts {
	overflow:hidden
}
.posts li {
	display:inline-block;
	width:100%;
	border-bottom:1px solid #634ceb
}
.posts li:first-child {
	border-top:1px solid #634ceb
}
.posts li .p-wrap {
	padding:2.5em 2em;
	background:#000;
	transition:all .15s ease-in
}
.posts li .p-wrap:active {
	background:#6f5aec
}
.posts li .p-wrap:hover {
	background:#000;
	padding-left:3em
}
.posts li .p-wrap:hover::after {
	content:'\2192';
	margin-left:0.5em
}
@media (max-width:942px) {
	.posts li .p-wrap:hover::after {
		content:none;
		margin:0
	}
}
@media (max-width:942px) {
	.posts li .p-wrap {
		padding:2em 2em
	}
}
.posts li .p-wrap p {
	display:inline;
	margin:0.5em 0 0
}
.posts li time {
	color:#3318d8;
	padding-right:1em
}
@media (max-width:942px) {
	.posts li time {
		display:block
	}
}
.posts li a {
	color:white;
	text-decoration:none
}
.pagination {
	overflow:hidden;
	margin-top:40px;
	color:#ccc;
	text-align:center;
	border:1px solid #e0e1e6
}
.pagination a,.pagination span {
	box-sizing:border-box;
	float:left;
	width:50%;
	padding:20px;
	text-decoration:none
}
.pagination a:first-child,.pagination span:first-child {
	text-decoration:none;
	border-right:1px solid #e0e1e6
}
.pagination a:hover {
	text-decoration:none;
	background-color:#ededed
}







#prev,#next {
	position:fixed;
	text-decoration:none;
	background:#63de00!important;
	border:1px solid #e0e1e6;
	padding:0.5em;
	line-height:1;
	border-radius:100px;
	bottom:2em;
	color:#333
}
@media (max-width:942px) {
	#prev,#next {
		position:static;
		padding:0.8em 1em 0.7em
	}
}
#prev {
	left:40px
}
@media (max-width:942px) {
	#prev {
		float:left
	}
}
#next {
	right:40px
}
@media (max-width:942px) {
	#next {
		float:right
	}
}
#prev:active,#next:active {
	border-color:#7b68ee
}
.nav-title {
	display:none
}
@media (max-width:942px) {
	.nav-title {
		display:inline
	}
}
.nav-title-prev {
	margin-left:0.5em;
	margin-right:0.5em
}
.nav-title-next {
	margin-right:0.5em;
	margin-left:0.5em
}
#prev:hover .nav-title,#next:hover .nav-title {
	display: inline
}

 



body { 
	background:#d2dfe6;
	color: #444;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height: 1.5em;
}

h1.title{
	width: 250px;
	margin: 0 auto;
}
h1.title a{
	font-size: 38px;
	color: #000;
}

/* FINDER WINDOW */

#window{
    width: 55%;
    margin-top:40px;
	margin-left: auto;
	margin-right: auto;
    margin-bottom:40px;
    min-width: 500px; 
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 20px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px rgba(0,0,0,0.75);
    /*-webkit-transition:all 0.5s; */
    overflow: hidden; 
}

/* TOP BAR */
#topbar{
    width: 100%;
    height: 21px;
    font-size: 16px;
    font-family: "Myriad Pro", sans-serif;
    text-shadow:0px 1px 0px rgba(255,255,255,0.25);
    -webkit-box-shadow:0 1px 0 rgba(0,0,0,0.5); 
    -moz-box-shadow:0 1px 0 rgba(0,0,0,0.5); 
   
    
}
#topbar ul li {
    float: left; 
    padding:0 10px;
    height: 21px;
    line-height: 24px;
}
#topbar ul li:first-child{
    font-size: 20px;
    line-height: 26px;
    margin-left: 5px;
}
#topbar ul li:nth-child(2){
    font-family: "Myriad-Semi", sans-serif;
}
#topbar ul li:active{
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(1, #4a82ff),color-stop(0, #0052fc));
    color: #fff;
    text-shadow: none;
}
#toolbar{
    width: 100%; 
    height: 25px;
    background: grey;
    border-radius:5px 5px 0 0;

    background: #cfcfcf; /* Old browsers */
    background: -moz-linear-gradient(top,  #cfcfcf 0%, #a8a8a8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cfcfcf), color-stop(100%,#a8a8a8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #cfcfcf 0%,#a8a8a8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #cfcfcf 0%,#a8a8a8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #cfcfcf 0%,#a8a8a8 100%); /* IE10+ */
    background: linear-gradient(top,  #cfcfcf 0%,#a8a8a8 100%); /* W3C */
    
    -webkit-box-shadow:0px 1px 0px rgba(255,255,255,0.5) inset,0px 1px 0px #515151;
    -moz-box-shadow:0px 1px 0px rgba(255,255,255,0.5) inset,0px 1px 0px #515151;
    box-shadow:0px 1px 0px rgba(255,255,255,0.5) inset,0px 1px 0px #515151;        
    
}
#toolbar .top{
    float: left; 
    width: 100%; 
    height: 23px;
}
#toolbar .bottom{
    float: left; 
    width: 100%; 
    height: 30px;
}

/*-----TRAFFIC LIGHTS-----*/
#toolbar #lights{
    float: left;
    position:relative;
    top:4px;
    left:7px; 
}
.light{
    float:left;
    width:14px;
    height:14px;
    border-radius:14px;
    -webkit-box-shadow:0px 1px 0px rgba(255,255,255,0.5),0px 0px 3px #000 inset;
    -moz-box-shadow:0px 1px 0px rgba(255,255,255,0.5),0px 0px 3px #000 inset;
    box-shadow:0px 1px 0px rgba(255,255,255,0.5),0px 0px 3px #000 inset;
    overflow: hidden;
}
#lights:hover .glyph{
    opacity: 1;
    cursor:default;
    
}
.light .shine{
     width: 4px;
     height:3px;
     border-radius:10px;
     /*background-image: -webkit-gradient(radial, center center, 0, center center, 3, from(rgba(255,255,255,1)), to(rgba(255,255,255,0)));*/
     background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */    
     background-image: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
     background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
     background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 12+ */
     background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
     background: radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
     
}
.light .glow{
    width:14px;
    height:8px; 
    background-image: -webkit-gradient(radial, center bottom, 0, center center, 5, from(rgba(255,255,255,0.75)), to(rgba(255,255,255,0)));
    background: 0px 0px -moz-radial-gradient(bottom, cover,  rgba(255,255,255,0.70) 0%, rgba(255,255,255,0) 80%); /* FF3.6+ */
   
}
/*--RED--*/
.red{
   background: #f41b16; /* Old browsers */
   background: -moz-linear-gradient(top,  #f41b16 0%, #fc7471 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f41b16), color-stop(100%,#fc7471)); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top,  #f41b16 0%,#fc7471 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top,  #f41b16 0%,#fc7471 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top,  #f41b16 0%,#fc7471 100%); /* IE10+ */
   background: linear-gradient(top,  #f41b16 0%,#fc7471 100%); /* W3C */   
}
.red:active{
     
    background: #972f2e; /* Old browsers */
    background: -moz-linear-gradient(top,  #972f2e 0%, #fc7471 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#972f2e), color-stop(100%,#fc7471)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #972f2e 0%,#fc7471 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #972f2e 0%,#fc7471 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #972f2e 0%,#fc7471 100%); /* IE10+ */
    background: linear-gradient(top,  #972f2e 0%,#fc7471 100%); /* W3C */    
}
.red .shine{    
    position: relative;
    top: -23px;
    left: 5px;  
}
.red .glow{
    position: relative;
    top: -22px;
}
.red .glyph{
    position: relative;
    top: -6px;
    left: 3px;
    font-size: 14px;
    font-weight: bold;
    color: #9b3a36;
    z-index: 50;
    opacity: 0;
}
/*--YELLOW--*/
.yellow{
    background: #f4a316; /* Old browsers */
    background: -moz-linear-gradient(left,  #f4a316 0%, #fcc371 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f4a316), color-stop(100%,#fcc371)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #f4a316 0%,#fcc371 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #f4a316 0%,#fcc371 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #f4a316 0%,#fcc371 100%); /* IE10+ */
    background: linear-gradient(left,  #f4a316 0%,#fcc371 100%); /* W3C */  
    margin:0px 7px;
}
.yellow:active{
    background: #ae4f1e; /* Old browsers */
    background: -moz-linear-gradient(top,  #ae4f1e 0%, #fcc371 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ae4f1e), color-stop(100%,#fcc371)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ae4f1e 0%,#fcc371 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ae4f1e 0%,#fcc371 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ae4f1e 0%,#fcc371 100%); /* IE10+ */
    background: linear-gradient(top,  #ae4f1e 0%,#fcc371 100%); /* W3C */    
}
.yellow .shine{ 
    position: relative;
    top: -23px;
    left: 5px;  
}
.yellow .glow{
    position: relative;
    top: -22px;
}


.yellow .glyph{
    position: relative;
    top: -7px;
    left: 4px;
    font-size: 24px;
    color: #854322;
    z-index: 50;
    opacity: 0;
    -webkit-transform: scaleY(1.5) scaleX(1.3);
}

/*--GREEN--*/
.green{
    
    background: #4cae2e; /* Old browsers */
    background: -moz-linear-gradient(top,  #4cae2e 0%, #dafc71 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4cae2e), color-stop(100%,#dafc71)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #4cae2e 0%,#dafc71 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #4cae2e 0%,#dafc71 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #4cae2e 0%,#dafc71 100%); /* IE10+ */
    background: linear-gradient(top,  #4cae2e 0%,#dafc71 100%); /* W3C */
    
}
.green:active{
  background: #48752b; /* Old browsers */
  background: -moz-linear-gradient(top,  #48752b 0%, #dafc71 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#48752b), color-stop(100%,#dafc71)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #48752b 0%,#dafc71 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #48752b 0%,#dafc71 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #48752b 0%,#dafc71 100%); /* IE10+ */
  background: linear-gradient(top,  #48752b 0%,#dafc71 100%); /* W3C */
  
}
.green .shine{  
    position: relative;
    top: -22px;
    left: 5px; 
}
.green .glow{
    position: relative;
    top: -22px;
}
.green .glyph{
    position: relative;
    top: -6px;
    left: 3px;
    font-size: 14px;
    font-weight: bold;
    color: #25571d;
    z-index: 50;
    opacity: 0;
}

/* Horrible to do this for firefox */
@-moz-document url-prefix() {
  
  .red .glyph {
      position: relative;
      top: -4px;
  }  
  .yellow .glyph {
      top: -4px;
      left: 3px;
  }
    
  .green .glyph{
      position: relative;
      top: -4px;
  }
  
}

/*-----TITLE-----*/
#title{
    float: left; 
    position: relative;
    top:4px;
    width:40%;
    left: 30%;
    font-family: "Myriad Pro", sans-serif; 
    font-size: 14px; 
    text-shadow: 0px 1px 0px rgba(255,255,255,0.5);
    line-height: 14px; 
}
.folder{
    float: left;
    margin-right:5px;
}
.folder .tab{
    width:4px;
    height:2px;
    background:#a4c5da;
    border:1px solid #728ea3;
    border-bottom: none;
    border-radius:2px 2px 0px 0px;
    -webkit-box-shadow:0px -1px 0px #99b5c7 inset;
    margin-left: 1px;
    z-index: 5000;
    margin-bottom: -1px; 
}
.folder .body{
    width: 14px;
    height: 10px;
    border:1px solid #6e8ba1;
    
    background: #b8cfe0; /* Old browsers */
    background: -moz-linear-gradient(top,  #b8cfe0 0%, #86adc8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b8cfe0), color-stop(100%,#86adc8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #b8cfe0 0%,#86adc8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #b8cfe0 0%,#86adc8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #b8cfe0 0%,#86adc8 100%); /* IE10+ */
    background: linear-gradient(top,  #b8cfe0 0%,#86adc8 100%); /* W3C */    
    
    z-index: -50;
    
    -webkit-box-shadow:0px 1px 0px rgba(255,255,255,0.25) inset,0px 1px 0px rgba(0,0,0,0.2);
    -moz-box-shadow:0px 1px 0px rgba(255,255,255,0.25) inset,0px 1px 0px rgba(0,0,0,0.2);
}


#nav{
    margin: 1px 8px;
    float: left;
}
#view{
    margin: 2px 0 0 110px;
    display: inline-block;
}

.control_box{
    height:20px;
    border-radius: 3px;
    border: 1px solid #555;
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(1, #fefefe),color-stop(0, #b8b8b8));
    box-shadow:0px 1px 0px rgba(255,255,255,0.25);
}
.control_box .control{
    height:20px;
    border-right: 1px solid #2e2e2e;
    float: left;
    text-align: center; 
    width: 27px; 
}
.control:last-child{
    border-right: 0px solid !important;
}
.control:active{ 
    background: #b0afb0; 
    -webkit-box-shadow:0px 0px 4px #000 inset;
}
.active{
    background: #707070 !important;
    -webkit-box-shadow:0px 3px 4px rgba(0,0,0,0.6) inset !important;
}


#body {
    font-family: Andale Mono, monospace;  line-height: 1em;
    font-size:13px;
    float: left;
    width: 100%;
    min-height:130px;
    background:#000;
    padding:10px;
    line-height:1.5em;
}
#body p { 
   color: #63de00!important; 
}

@keyframes blink
{
	0%   {  background:rgba(99,222,0,100);  }
	100% {  background:rgba(99,222,0,0);  }
}

@-webkit-keyframes blink {
	0%   {  background:rgba(99,222,0,100);  }
	100% {  background:rgba(99,222,0,0);  }
}
@-moz-keyframes blink {
	0%   {  background:rgba(99,222,0,100);  }
	100% {  background:rgba(99,222,0,0);  }
}
.cursor {
  background:#63de00; 
  display:inline-block;
  width:11px;
  height:19px;
  margin-bottom:-3px;
}
#body:hover .cursor {
    -webkit-animation-name: blink;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: blink;
    -moz-animation-duration: 1.5s;
    -moz-animation-iteration-count: infinite;
}
  
#body p::-webkit-selection  {
    background:#0b209e;
}
#body p::selection { background:#0b209e; }
#body p::-moz-selection { background:#0b209e; }

#body p {
  margin-top:5px;
  margin-bottom:5px;
  font-size:13px;
}

#content{
    float: left; 
    margin-top: 1px;
}
#foot{
    height: 23px;
    width: 100%;
    float: left;
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(1, #cbcbcb),color-stop(0, #a7a7a7));
    border-top:1px solid #515151;
    border-radius:0 0 5px 5px;
}
#foot .handle{
    width: 11px;
    height: 11px;
    float: right;
    margin: 6px;
    overflow: hidden;
}
.handle .grip{
    -webkit-transform: rotate(45deg) scaley(3);
    margin: 2px 0 0 2px;
    color: #646464;
    text-shadow: 1px 1px 0 #c6c6c6;
    font-size: 14px;
}

.icon{
    width: 86px; 
    height: 100px;
    margin: 20px; 
    float: left;
    font-family: "Myriad Pro", sans-serif; 
    text-align: center; 
    font-size: 12px;
}
.icon .frame{
    width: 82px;
    height: 82px; 
    border-radius: 5px;
    border: 2px solid transparent; 
}
.icon .name{
    color: #000;
    padding-top: 3px; 
    border-radius:15px;
    width: 55px;
    margin: 5px 0 0 15px;
}
.icon .folder{
    margin:15px 0 0 6px;
}