
<nav id="toolbar" class="navbar navbar-inverse navbar-fixed-top" style="position:fixed; z-index: 10;">
   <div class="nav-wrapper blue">
     <ul id="nav-mobile" class="left hide-on-med-and-down">
       <li><a href="http://twitter.com/{{ site.twitter }}" target="_blank"><i class="fa fa-twitter-square"></i></a></li>
       <li><a href="http://github.com/{{ site.github }}" target="_blank"><i class="fa fa-github-square"></i></a></li>
       <li><a href="http://instagram.com/{{ site.instagram }}" target="_blank"><i class="fa fa-instagram"></i></a></li>
       <li><a href="http://br.linkedin.com/in/cristianounix/" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
       <li><a href="/about"><i class="fa fa-user"></i></a></li>
     </ul>

     <a href="/" class="brand-logo center">
       <img src="{{site.baseurl}}/img/cristianounix-mustache.png" alt="" />
     </a>

     <a href="#" data-activates="mobile-menu-top" class="button-collapse"><i class="material-icons">menu</i></a>

     <ul class="left side-nav" id="mobile-menu-top">
       <li><a href="http://twitter.com/{{ site.twitter }}" target="_blank">Twitter</a></li>
       <li><a href="http://github.com/{{ site.github }}" target="_blank">Github</a></li>
       <li><a href="http://instagram.com/{{ site.instagram }}" target="_blank">Instagram</a></li>
       <li><a href="http://br.linkedin.com/in/cristianounix/" target="_blank">Linkedin</a></li>
       <li><a href="/about">Sobre mim</a></li>
     </ul>
   </div>
 </nav>
