---
layout: default
---

<main class="content" role="main">

  <section id="blog-intro" class="cyan section z-depth-1 article-intro" style="background-image:url('https://d262ilb51hltx0.cloudfront.net/max/2000/1*278tqw9zNPe2WCAz29Wzdw.jpeg');"></section>

  <section id="main-inner-container" class="container">
    <article class="post tag-webdev tag-gruntjs tag-javascript tag-nodejs card-panel z-depth-1 article-container">
      <header>
        <h1>{{ page.title }}</h1>
      </header>
      <section class="post-content">
        {{ content }}
        <p>
          {{ site.baseurl }}{{ post.url }}
        </p>
      </section>


      <footer>
        <section id="social-share">
          <p>
            Compartilhar: <br>
            <a href="http://twitter.com/share?text={{ post.title }}&amp;url={{ post.url }}" target="_new" class="btn-floating white cyan-text darken-2" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"><i class="fa fa-twitter cyan-text darken-2"></i></a>
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ post.url }}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" class="btn-floating white cyan-text"><i class="fa fa-facebook cyan-text darken-2"></i></a>
            <a href="https://plus.google.com/share?url={{ post.url }}" class="btn-floating white cyan-text darken-2" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;"><i class="fa fa-google-plus cyan-text darken-2 "></i></a>
          </p>
        </section>
        <!-- Disqus Comments -->
        <section class="comments">
          <div id="disqus_thread"></div>
              <script type="text/javascript">
                  var disqus_shortname = 'cristianounix';
                  (function() {
                      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                  })();
              </script>
              <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </section>
      </footer>
    </article>
  </section>
</main>
